name: Build

on:
  push:
    branches: [ master ]

jobs:
  pip-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv-to-requirements
          pipenv_to_requirements
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Test with unittest
        run: |
          python -m unittest discover -p 'test_*.py'

  commit-requirements:
    runs-on: ubuntu-latest
    needs: pip-test
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv-to-requirements
          pipenv_to_requirements
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Check in requirements.txt and requirements-dev.txt
        run: |
          git add requirements*.txt
          if [[ ! -z $(git status -s requirements*.txt) ]]
          then
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git commit -m 'Automatically generated requirements.txt and requiremetns-dev.txt' requirements*.txt
            git push
          fi

  docs:
    runs-on: ubuntu-latest
    needs: pip-test
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - name: Check out repo
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name:  Install Pipenv
      uses: dschep/install-pipenv-action@v1

    - name: Install dependencies using pipenv
      run: pipenv install

    - name: Remove old docs
      run: rm -fr docs/*

    - name: Create new docs
      run: pipenv run python -c "from biolinkml.generators.markdowngen import MarkdownGenerator;
            MarkdownGenerator('meta.yaml').serialize(directory='docs', image_dir='images')"

    - name: Commit changes and push
      run: |
        git add docs
        if [[ ! -z $(git status -s docs) ]]
        then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Automated update to docs with GitHub Actions' docs
          git push
        fi
